<div style="width: 100%; text-align: center;">
    <div class="input-group" style="width: 50px;">
        <input type='text' value="{{ data.position }}" data-id="{{ data.id }}" class="form-control asdoria-pictogram-group-position" style="text-align: center;" />
    </div>
</div>
